body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d3bd95;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}

.navbar-brand .logo-img {
    height: 40px;
    margin-right: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #ddd;
}

.bg-image {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-image img {
    width: 100%;
    height: auto;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -38px;
    margin-top: .125rem;
}